@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

  background: #e8e4e4;
}

.flextop {
  display: flex;
  height: 80px;
  background: #4c9bd8;

  align-items: center;
  justify-content: center;
  gap: 20px;
}
.flextop > .item > span {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.flextop > .item > select {
  width: 290px;
  border: 0;
  border-radius: 7px;
  padding: 0.775rem 1rem;
}

.flextop > .item > button {
  padding: 0.2rem 1.44rem;
  border-radius: 20px;
  border: 0;
  background: #6ac36f;
  cursor: pointer;
}

.flextop > .item > button:hover {
  filter: brightness(0.9);
}

.card {
  margin: 1rem 0;
  border-radius: 25px;

  box-shadow: 1px 1px 10px 0px;
  color: #dbd0d0;
}

form {
  display: contents;
}

.card-results {
  width: 90%;
  font-size: 2rem;
  font-weight: 700;
  color: #4d4d4d;
  margin-top: 2rem;
  margin-left: 18px;
  padding: 0 10%;
}
.card-items {
  width: 80%;
  display: flex;

  align-items: center;
  justify-content: left;
  margin-top: 1rem;
  margin-left: 10%;

  flex-wrap: wrap;
}

.card-body {
  display: flex;
  gap: 10px;
}

.card-body > img {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button-schedule {
  width: 130px;
  display: block;

  font-weight: 500;
  padding: 0.2rem 1rem;
  border-radius: 20px;
  margin-top: 0.4rem;
  border: 0;
  background: #6ac36f;

  text-transform: uppercase;
}

.button-schedule:hover {
  filter: brightness(0.9);
  background: #6ac36f;
}

.info > h4 {
  font-size: 1.15rem;
  font-weight: 700;

  text-transform: uppercase;
}

.info > span {
  font-size: 0.875rem;
  font-weight: 400;
}

.info h4,
.info span {
  color: #4d4d4d;
}

form > h3 {
  font-size: 2rem;
  font-weight: 800;
  color: #4d4d4d;

  margin-top: 2rem;
}

.form-row {
  margin: 2rem 0;
}

.form-row > div > input {
  border: 0;
  border-radius: 7px;
  padding: 1.75rem 1rem;
}

.form-row > div > select {
  border: 0;
  border-radius: 7px;

  height: 56px;
}

.button-m {
  justify-content: end;
  display: flex;
}

.btn-success {
  padding: 10px 20px;
  border-radius: 20px;
  border-color: #6ac36f !important;
  background-color: #6ac36f !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(./iconmonstr-arrow-80-24.png);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 14px;
  padding: 1rem;
  padding-right: 2rem;
  width: 35px;
}

.loader,
.progresso {
  display: flex;
}

.loader,
.loader-text,
.loader-text-in {
  position: fixed;
}

.loader {
  width: 100%;
  justify-content: center;
  position: fixed;
  z-index: -1;
  height: 100%;
  /* background: #673ab7; */
}

.progresso,
.progresso-in {
  width: 200px;
  height: 200px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2ad178;
  border-left: 16px solid #2ad178;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  z-index: 1;
}

.progresso {
  position: absolute;
  margin: 15rem;
  display: flex;
}

.progresso-in {
  position: relative;
  margin: 0 auto;
  display: block;
}

.loader-text {
  margin: 20rem;
  display: block;
  color: #4c9bd8;
}

.loader-text-in {
  margin: auto 36.5%;
  display: block;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
